:root {
  --secondary-bg: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 10001;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: .5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0 1rem 0 .3rem;
  height: 3rem;
  /* position: sticky;
    top: 0;
    left: 0; */
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: flex;
  gap: 1rem;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}


.logo span {
  color: var(--primary-color);
}

.search__button {
  padding: 1em 1em;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.search__button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-toggle .bar {
  width: 1.3rem;
  height: .1rem;
  background-color: white;
  margin: .2rem;
  transition: all 0.3s ease;
}

/* Animation for cross when sidebar is active */
.toggle-active .bar:nth-child(1) {
  transform: rotate(45deg) translate(.2rem, .5rem);
}

.toggle-active .bar:nth-child(2) {
  opacity: 0;
}

.toggle-active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(.2rem, -.5rem);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li a:hover {
  color: #00bcd4;
}

.sidebar {
  height: 100vh;
  width: 50%;
  background-color: var(--secondary-bg);
  position: fixed;
  top: 3rem;
  left: -55%;
  transition: 0.3s;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.sidebar ul li a:hover {
  background-color: #444;
}

.show-sidebar {
  left: 0;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
  }
}